@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;1,6..96,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --softGreen: #c1dcdc;
}

body {
  width: 100%;
  height: 200vh;
  font-family: "Poppins", sans-serif;
}

.landingPage {
  width: 85%;
  margin: auto;
}
header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4% auto;
  font-size: 18px;
}
header h1 {
  display: inline;
  font-family: "Bodoni Moda", serif;
  font-weight: 700;
  font-size: 27px;
  width: auto;
}
nav {
  width: 85%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

nav ul {
  height: 4%;
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  margin: 30px;
  color: #00000078;
  font-weight: 600;
}
nav ul li:first-child a {
  color: #000000e4;
}
nav ul li:last-child a {
  margin-right: 0;
}
/*searching area*/
.search {
  background-color: var(--softGreen);
  height: 60vh;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}
.left {
  width: 40%;
  margin: 4%;
}

.left h2 {
  font-weight: bolder;
  font-size: 400%;
  line-height: 100%;
}
.left .textArea {
  width: 65%;
  margin: 20px;
  margin-left: 0px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.textArea .inDiv {
  text-align: left;
  margin-left: 0px;
}
.textArea .inDiv h3 {
  font-weight: normal;
  font-size: 2rem;
}
.textArea .inDiv p {
  font-weight: normal;
  font-size: 18px;
}
.line {
  border-right: 1px solid black;
  height: 64px;
}
.left .searchBox {
  height: 16%;
  width: 87%;
  padding: 1.5%;
  background-color: white;
  border-radius: 8px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 10%;
}
.left .searchBox p {
  font-size: 110%;
  color: #00000070;
  line-height: 300%;
  margin-left: 3%;
  font-weight: 600;
}
.left .searchBox img {
  width: 11%;
  height: 100%;
  padding: 2px;
  background-color: var(--softGreen);
  border: 10px solid var(--softGreen);
  border-radius: 20%;
}

.imgArea {
  width: 50%;
  position: relative;
}
.imgArea img:nth-child(2) {
  position: absolute;
  bottom: 0px;
  right: 11%;
  z-index: 1;
}
.imgArea img:nth-child(1) {
  position: absolute;
  bottom: 17%;
  left: -17%;
}
.imgArea img:nth-child(3) {
  position: absolute;
  right: 4%;
  top: 2%;
}
.rect {
  position: absolute;
  bottom: 0px;
  right: 15%;
  background-color: #000000e1;
  width: 70%;
  height: 80%;
  border-radius: 200px 200px 0px 190px;
}
